* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
}

.header_logo {
    font-size: 20px;
    margin-top: 54px;
    margin-left: 15%;
    text-align: center;
}

.header_contacts {
    font-size: 14px;
    margin-top: 58px;
    margin-left: 3%;
}

nav {
    margin-top: 70px;
    margin-left: 5%;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 10px 40px;
    font-size: 14px;
}

.topnav .icon {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main p {
    font-size: 20px;
}

main .main_zap_bu {
    display: flex;
    padding: 150px 0 20px 0;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.about_left {
    margin-right: 200px;
}

.about_left h1 {
    font-size: 50px;
    display: inline;
}

.about_left p {
    margin: 20px 0 20px 0;
    color: gray;
}

main .econom {
    display: flex;
    text-align: center;
    padding: 120px 0 20px 0;
}

main .econom h1 {
    font-size: 50px;
    display: inline;
}

main .econom p {
    margin: 10px 0 0 0;
    color: gray;
}

.card {
    margin: 0 60px;
}

main .main_real {
    display: flex;
    padding: 150px 0 20px 0;
}

.about_right2 {
    margin-left: 130px;
}

.about_right2 h1 {
    font-size: 50px;
    display: inline;
}

.about_right2 p {
    margin: 20px 0 20px 0;
    color: gray;
}

main .the_biggest_as h1 {
    font-size: 50px;
    padding: 150px 0 10px 0;
}

main .the_biggest_as h2 {
    font-size: 30px;
}

main .third {
    display: flex;
    padding: 50px 0 20px 0;
}

.line {
    width: 4px;
    height: 120px;
    background: blue;
    position: relative;
    left: 10%;
}

main .calc h1 {
    font-size: 50px;
    padding: 150px 0 40px 0;
}

.line2 {
    width: 120px;
    height: 5px;
    background: blue;
    position: relative;
}

.about_right4 {
    margin-left: 130px;
}

.about_right4 h3 {
    font-size: 25px;
    display: inline;
}

.about_right4 h6 {
    text-align: center;
    color: gray;
}

.about_right4 p {
    margin: 20px 0 20px 0;
    color: gray;
}

.about_left4 p {
    padding: 0 0 20px 0;
    color: gray;
}

.unic_color_text {
    color: blue;
}

.form-inner {
    position: relative;
}

.form-inner input {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 10px 0 15px;
    border-width: 1;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    font-size: 25px;
    width: 275px;
    height: 63px;
    background: blue;
    color: white;
    border-radius: 70px;
    border: 0;
}

main .cards_format {
    display: flex;
    text-align: center;
    padding: 10px 0 180px 10px;
}

main .send_pay h1 {
    font-size: 50px;
    padding: 150px 0 40px 0;
    text-align: center;
}

main .send_pay h4 {
    padding: 10px 0 20px 0;
    text-align: center;
    color: gray;
}

main .send_pay p {
    font-size: 17px;
    /* margin: 10px 0 0 0; */
    color: gray;
}

.card1 {
    margin: 0 20px;
}

.photo {
    background: gray;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
}